*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.banner_content{
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100vw;
    height: 80px;
    background-color: #2A4D14;
    position: fixed;
    z-index: 2;
}
.banner_logo {
    width: auto;
    height: 100%;
    float: left;
    text-align: left;
    padding-left: 20px;
    line-height: 80px; 
    display: flex;
    align-items: center; /* Center the logo vertically */
}

.banner_logo img {
    height: 75%; /* Make the image fill the container's height */
    object-fit: contain; /* Preserve the aspect ratio */
}
.banner_logo a {
    text-align: center;
    font-size: 25px;
    color: #fbc62c;
    padding-left: 20px;
    text-align: center;
    text-decoration:none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.banner_logo a:visited {
    height: 100%; /* Make the image fill the container's height */
    object-fit: contain; /* Preserve the aspect ratio */
    text-align: left;
    font-size: 25px;
    color: #fbc62c;
    padding-left: 0;
    text-align: left;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}


.banner_logo p{
    font-size: 1rem;
    color: #fbc62c;
    padding-left: 0;
    text-align: left;
}


nav{
    float:right;
    position: fixed;
    line-height: 80px;
    right:25;
}
nav a{
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 30px 20px;
    margin: 0 0px;
    color: #fbc62c;
}

nav a:hover{
    background-color: #06794c;
    color: #fbc62c;
    transition: 0.8s;
}


    /* change images later */

.banner_area{
    background-image: url("https://i.ibb.co/R0jcJZx/image1.webp");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 120vh;
    position: fixed;
    width: 100%;
}

.banner_area:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    display:block;
    width: 100%;
    height: 100%;
    background: #012601;
    opacity: 0.7;
    z-index: -1;

}

.banner_area h2{
    padding-top: 8%;
    font-size:80px;
    color: #f6ae2d;

}
/* mobile menu part */

/* Style the navigation menu */
.mob_menu {
    
    background-color: #2A4D14;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 19.5vh;
    z-index: 5;
    align-items: center;
  }
  
  .mob_menu_logo img{
    max-width: 100%;
    object-fit: contain;
      height: 5vh;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .mob_menu #nav_links {
    display:flex;
  }
  
  /* Style navigation menu links */
  .mob_menu a {
    /* margin-top:2.5vh; */
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    z-index: 5;
    align-items: center;
  }
  
  .nav_links{
    justify-content: space-evenly;
    align-items: center;
    bottom: 2vh;
  }

  .mob_menu_logo a:hover{
    background-color: none;
  }

  /* Style the hamburger menu */
  
  /* Add a grey background color on mouse-over */
  .mob_menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #2a4d14;
    height: 2vh;
    color: white;
  }

  .mob_logo{
    max-width: 5vw;
    object-fit: contain;
      height: 100%;
  }
  
.website_content_area{
    width: 100%;
    height: 2300px;
    position: relative;
    background: #fff;
    top: 600px;
}
.website_content_area h2{
    font-size: 40px;
    margin-left: 3.25vw;
    padding-top: 30px;
    padding-left: 2vw;
    text-align: left;
}
.website_content_area p{
    padding-left: 5.25vw;
    text-align: left;
}

hr{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #f6ae2d;;
}

.about_us_container{
    display: flex;
    height: 45vh;
    justify-content: space-evenly;
    width: 100%;
    background-color: #015e37;
    align-items: center;
}

.about_us_text{

    width: 50%;
    padding: 0;
    text-align: left;
    color: #fff;
}
.about_us_text hr{
    width: 66%;
    margin-left: 10.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.about_us_text p{

    width: 65%;
    padding: 0;
    margin-left: 5.3vw;
    margin-top: 1vh;    
    text-align: left;
    color: #fff;
    font-size: 1rem;
}
.about_us_img{
    width: 50%;
    height: 100%;
    background-image: url("https://i.ibb.co/RYvmh0n/team.webp");
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center center;
}
.about_us_button{
    background-color: #214d18;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px;
    text-decoration: none;
    margin-left: 5.25vw;
    margin-top: 20px;
}

/* blog container styling */
.blog_selector{
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-evenly;
    height: 35vh;
}

/* syling for each blog post card */

.b_website_content_area{
    width: 100%;
    height: 2500px;
    position: relative;
    background: #fff;
    top: 600px;
}

.blog_selector > div {
    background-color: #2A4D14;
    flex-basis: 25%;
    margin:30px;
    background-size: cover;
    background-position: center center;
    filter: drop-shadow(5px 5px 1px #000);

  }

.blog_container{
    font-size: 1rem;
    position: relative;

}
.blog_container > img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;

}
.blog_title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    z-index: 1;
}
.blog_title > h5{
    margin-top: 3vh;
    font-size: 2em;
    text-align: center;
    color: #F5BB00;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
.blog_title:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgb(42,77,20);
    background: linear-gradient(0deg, rgba(42,77,20,1) 35%, rgba(49,123,34,1) 67%, rgba(103,224,163,0) 93%); 
    opacity: 0.8;
    z-index: -1;

}


/* sponsors box styling */
.sponsor_container {
    display: flex; /* Use flexbox to align children */
    height: 45vh;
    background-color: #67E0a3;
}

.sponsor_header {
    background-color: #015e37;
    height: 100%; /* Ensure it fills the container's height */
    width: 50vw;
    text-align: center;
    align-items: center;
}

.sponsor_header h1 {
    /* text-align:left; */
    color: #fff;
    /* padding-left: 5.25vw; */
    
}
.sponsor_header hr{
    width: 90%;
    /* margin-left: 12.5%; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border: 1px solid #fff;
    align-self: center;
    
}

.sponsor_selector {
    background-color: #f0f0f0;
    height: 100%; /* Ensure it fills the container's height */
    width: 70vw;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
/* .sponsor_profile{

} */

.join_us_container {
    position:absolute;
    height: 25vh;
    background-image: url("https://i.ibb.co/RYvmh0n/team.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    object-fit: contain;
    z-index: 1;
}

.join_us_container:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #012601;
    opacity: 0.7;
    z-index: -1;

}
.filler_container {
    position:absolute;
    height: 75vh;
    background-image: url("../../SolarSite/images/filler.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    object-fit: contain;
    z-index: 1;
}

.filler_container:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #012601;
    opacity: 0.7;
    z-index: -1;

}

.join_us_container h2{
    padding-top: 8%;
    font-size:80px;
    color: #fbc62c;
    text-align: center;

}
/* Why join stuff*/
.why_join_container{
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    width: 100%;
    background-color: #015e37;
    align-items: center;
}

.why_join_text{

    width: 50%;
    padding: 0;
    text-align: left;
    color: #fff;
}
.why_join_text hr{
    width: 66%;
    margin-left: 10.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.why_join_text p{

    width: 65%;
    padding: 0;
    margin-left: 5.3vw;
    margin-top: 1vh;    
    text-align: left;
    color: #fff;
    font-size: 1rem;
}
.why_join_img{
    width: 50%;
    height: 100%;
    background-image: url("https://i.ibb.co/RYvmh0n/team.webp");
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center center;
}
/* Elec & SW Team*/

.subteam_1_container {
    display: flex; /* Use flexbox to align children */
    height: 40vh;
    background-color: #015e37;
    color: #fff;
}

.subteam_1_text {
    background-color: #015e37;
    height: 100%; /* Ensure it fills the container's height */
    width: 50vw;
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_1_text > h1{
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_1_text > hr {
    width: 90%;
    border: 1px solid #fff;
    align-self: center;
}
.subteam_1_img {
    width: 50%;
    height: 100%;
    background-image: url("https://i.ibb.co/j4RBkKz/battery-pack.png");
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center center;
    
}
/* Mechanical Team*/
.subteam_2_container {
    display: flex; /* Use flexbox to align children */
    height: 40vh;
    background-color: #015e37;
    color: #fff;
}

.subteam_2_text {
    background-color: #015e37;
    height: 100%; /* Ensure it fills the container's height */
    width: 50vw;
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_2_text > h1{
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_2_text > hr {
    width: 90%;
    border: 1px solid #fff;
    align-self: center;
}
.subteam_2_img {
    width: 50%;
    height: 100%;
    background-image: url("https://i.ibb.co/jHJNJd0/car.png");
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center center;
    
}

/* Money Team*/
.subteam_3_container {
    display: flex; /* Use flexbox to align children */
    height: 40vh;
    background-color: #015e37;
    color: #fff;
}

.subteam_3_text {
    background-color: #015e37;
    height: 100%; /* Ensure it fills the container's height */
    width: 50vw;
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_3_text > h1{
    text-align: center;
    align-items: center;
    color: #fff
}
.subteam_3_text > hr {
    width: 90%;
    border: 1px solid #fff;
    align-self: center;
}
.subteam_3_img {
    width: 50%;
    height: 100%;
    background-image: url("https://i.ibb.co/TMMxZLd/business-team.jpg");
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center center;
    
}

.arch_title_header_container{
    display: flex;
    height: 20vh;
    width: 100%;
    background-color: #015e37;
    align-items: left;
}

.arch_title_header_text h2{
    width: 100%;
    padding: 0;
    text-align: left;
   padding-top: 2vh;
    color: #fff;
}
.arch_title_header_text p{
    width: 100%;
    margin-left: 3.3vw;
    padding: 0;
    text-align: left;
   padding-top: 2vh;
    color: #fff;
}
.arch_title_header_text hr{
    width: 66%;
    margin-left: 3.3vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.arch_title_header p{

    width: 65%;
    padding: 0;
    margin-left: 5.3vw;
    margin-top: 1vh;    
    text-align: left;
    color: #fff;
    font-size: 1rem;
}


.blog_arch_list_container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #d4d4d4;       
}
.blog_arch_card_container{
    width: 98.8vw;
    height: 10vh;
    background-color: #317B22;
}
.blog_arch_card_title{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    color:#2f4858;
}
.blog_arch_card_title > p {
    text-align: left;
    padding-top: 2.2vh;
    font-size: 2rem;
}

.blog_arch_card_title > a {
    text-align: right;
    font-size: 2rem;
    padding-top: 2.2vh;
}

.blog_arch_card_title > a:link {
    text-align: right;
    font-size: 2rem;
    color: #23395b;
    text-decoration: none;
    padding-top: 2.2vh;
}

.blog_arch_card_title > a:visited {
    text-align: right;
    font-size: 2rem;
    color: #23395b;
    text-decoration: none;
    padding-top: 2.2vh;
}

.blog_arch_card_title > h1 {
    text-align: right;
    padding-top: 1px;
    font-size: 1.5rem;
}

.blog_body_container{
    width: 100vw;
    height: 280vh;
    background-color: #f0f0f0;
}

.blog_body_container > p{
    padding-top: 2vh;
    font-size: 1.3rem;
    text-align: left;
}

.blog_body_container > h3{
    padding-top: 2vh;
    /* padding-left: 2vw;
    padding-right: 2vw; */
    font-size: 1.8rem;
    margin-left: 5vw;
    text-align: left;
}
.footer {
    position: relative;
    top:35vh;
    width: 100%;
    height: 35vh;
    background-color: #2A4D14;
    display: block;
    z-index: 3;
    align-items: center;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #F5BB00;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin: 0;

}

/* .footer_logo{
    align-items: center;
    justify-content: center;
}
.footer_logo > img{
    position: relative;
    width: auto;
    height: 20vh;
    float: center;
    display: block;
    padding-top: 5vh;
     
} */

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

.footer_logo > img {
    height: 20vh;
    width: auto;
    padding-bottom: 30px;
}


@media only screen and (max-width: 600px) { /*For (really) small devices ex. phones*/
    .banner_area > h2 {
        margin-top: 4vh;
    }
    .about_us_text > p{
        font-size: 0.75rem;
    }

    .about_us_container{
        height: 100vh;
    }
    .sponsor_container{
        height: 45vh;
    }
    
    .topbanner{
        visibility: hidden;
    }
    nav {
        visibility: collapse;
    }
    .blog_selector{
        flex-direction: column;
        height: 85vh;
    }
    .mob_menu{
        visibility: visible;
    }
    .footer{
        top:65vh;
        display: block;
        height: 75vh;
        width: 100%;
    }
    .blog_title > h5{
        margin-top: 2vh;
        font-size: 1em;
        text-align: center;
        color: #F5BB00;
        font-weight: 75;
        font-family: 'Montserrat', sans-serif;
    }
    .join_us_container{
        height: 80vh;
    }
    .website_content_area{
        width: 100%;
        height: 3000px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .why_join_container{
        height: 100vh;
    }
    .subteam_1_container{
        height: 100vh;
    }
    .subteam_2_container{
        height: 60vh;
    }
    .subteam_3_container{
        height: 60vh;
    }
    
}
@media only screen and (min-width: 600px) { /* for small devices, ex. portrait tablets, big phones*/
    .banner_area > h2 {
        margin-top: 4vh;
    }
    .about_us_text > p{
        font-size: 0.75rem;
    }
    .about_us_container{
        height: 100vh;
    }
    .sponsor_container{
        height: 32vh;
    }
    .topbanner{
        visibility: hidden;
    }
    nav {
        visibility: collapse;
    }
    .blog_selector{
        flex-direction: column;
        height: 100vh;
    }
    .mob_menu{
        visibility: visible;
    }
    .join_us_container {
        height: 25vh;
    }
    .footer{
        top:60vh;
        display: block;
        width: 100%;
    }
    .blog_title > h5{
        margin-top: 2vh;
        font-size: 1.5em;
        text-align: center;
        color: #F5BB00;
        font-weight: 75;
        font-family: 'Montserrat', sans-serif;
    }
    .website_content_area{
        width: 100%;
        height: 2600px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .why_join_container{
        height: 60vh;
    }
    .subteam_1_container{
        height: 60vh;
    }
    .subteam_2_container{
        height: 60vh;
    }
    .subteam_3_container{
        height: 60vh;
    }
}
@media only screen and (min-width: 1020px) { /*For large devices ex. computers*/
    .banner_area > h2 {
        margin-top: 0vh;
    }
    .about_us_text > p{
        font-size: 1rem;
    }
    .about_us_container{
        height: 50vh;
    }
    .sponsor_container{
        height: 35vh;
    }
    .topbanner{
        visibility: visible;
    }
    nav {
        visibility: visible;
    }
    .blog_selector{
        flex-direction: row;
        height: 35vh;
    }
    .blog_title > h5{
        font-size: 0.5em;
    }

    .mob_menu{
        visibility: hidden;
    }
    .join_us_container{
        height: 80vh;
    }
    .footer{
        top:55vh;
        width: 100%;
        display:block;
    }
    .blog_title > h5{
        font-size: 2em;
    }
    .website_content_area{
        width: 100%;
        height: 2500px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .b_website_content_area{
        width: 100%;
        height: 1000px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .why_join_container{
        height: 50vh;
    }
    .subteam_1_container{
        height: 55vh;
    }
    .subteam_2_container{
        height: 35vh;
    }
    .subteam_3_container{
        height: 35vh;
    }

}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(- 100%); /* Adjust the translation as needed */
    }

  
}

@keyframes enlarge_title {

}