*{
    font-family:Helvetica;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

.banner_content{
    width: 90%;
    margin: 0 auto;
}

/* LEGACY SETTINGS USED FOR HOME PAGE */

header{
    width: 100%;
    height: 80px;
    background-color: #0c1b7d;
    position: fixed;
    z-index: 2;
}

.banner_logo {
    width: auto;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 80px; 
    display: flex;
    align-items: center;
}

.banner_logo img {
    height: 100%;
    object-fit: contain;
}

nav{
    float:right;
    line-height: 80px;

}
nav a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 29px 10px;
    margin: 0 1px;
    color: #fff;
}

nav a:hover{
    background-color: #fff;
    color: #000;
}


/* TESTING COLOR SCHEME FOR SPONSORSHIP PAGE, COULD BE USED FOR ALL PAGES */

.s_topbanner header{
    width: 100%;
    height: 80px;
    background-color: #2A4D14;
    position: fixed;
    z-index: 2;
}

.s_banner_content .banner_logo {
    width: auto;
    height: 100%;
    float: left;
    text-align: left;
    padding-left: 20px;
    line-height: 80px; 
    display: flex;
    align-items: center; /* Center the logo vertically */
}

.s_banner_content .banner_logo img {
    height: 75%; /* Make the image fill the container's height */
    object-fit: contain; /* Preserve the aspect ratio */
}

.s_banner_content .banner_logo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fbc62c;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.s_banner_content nav{
    float:right;
    line-height: 80px;
}

.s_banner_content nav a{
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 30px 20px;
    margin: 0 0px;
    color: #fbc62c;
}

.s_banner_content nav a:hover{
    background-color: #06794c;
    color: #fbc62c;
    transition: 0.8s;
}

.s_banner_content .header{
    transform: translateY(-2px);
}

    /* change images later */

.banner_area{
    background-image: url("/images/_MG_6407.png");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.banner_area:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    display:block;
    width: 100%;
    height: 100%;
    background: #f7f0cc;
    opacity: 0.7;
    z-index: -1;

}

.banner_area h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700px;
    padding-top: 16%;
    font-size:80px;
    color: #242d6e;

}

.banner_area h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700px;
    padding-top: 5px;
    font-size:40px;
    color: #fbc62c;

}

.website_content_area{
    width: 100%;
    height: 1900px;
    position: relative;
    background: #fff;
    top: 900px;
}
.website_content_area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
}

.blog_selector{
    display: flex;
    background-color: #b5b5b5;
    justify-content: space-evenly;
    height: 25%;
    
}

.blog_selector > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 130px;
    font-size: 30px;
    flex: 25%;
    background-image: url("/images/testimage.png");
    background-size: cover;
    background-position: center center;

  }

  /* Sponsors-Page */

.s_banner_area{
    background-image: url("https://i.ibb.co/rm3MgBh/sponsors-fair.webp");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.s_banner_area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(42, 77, 20, 0.65);
    z-index: 2;
    pointer-events: none;
}

.s_banner_area h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 12%;
    font-size:165px;
    color: #fbc62c;
}

.s_banner_area h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    font-size:60px;
    color: #06794c;
}

.s_banner_text{
    padding-top: 60px;
    padding-bottom: 100px;
    z-index: 3;
    position: relative;
}

.s_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    background-color: #fbc62c;
    border: none;
    color: #015e37;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 30px;
}

.s_website_content_area{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 300px;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #06794c;
    background-size: 56px 56px;
    /* background-image:
    linear-gradient(
        135deg,
        transparent 55%,
        #06794c 55%
    ),
     radial-gradient(
        transparent 6px,
        #015e37 6px,
        #015e37 10px,
        transparent 10px,
        transparent 15px,
        #015e37 15px,
        #015e37 19px,
        transparent 19px,
        transparent 24px,
        #015e37 24px,
        #015e37 28px,
        transparent 28px
    ); */
}

.s_website_content_text_area{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    background-size: 56px 56px;
}

.s_website_content_area h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    margin: 0;
    padding-top: 50px;
    color:#fbc62c;
}

.s_website_content_area p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    margin: 0 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.sponsor-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sponsor-item img { 
    width: 200px; 
    height: 200px;
    display: inline-block;
    border-radius: 5%;
    object-fit: contain;
}

.sponsor-item .diamond {
    color: #4EE2EC;
    width: 100%;
    height: 300px;
    padding: 20px 20px 0 0;
    text-shadow: 2px 2px black;
    text-align: center;
    z-index: 2;
}

.sponsor-item .platinum {
    color: #E5E4E2;
    width: 100%;
    height: 300px;
    padding: 20px 20px 0 0;
    text-shadow: 2px 2px black;
    text-decoration: underline overline 5px;
    text-underline-offset: 10px;
}

.sponsor-item .gold {
    color: #FDD017;
    width: 100%;
    height: 300px;
    padding: 20px 20px 0 0;
    text-shadow: 2px 2px black;
    text-decoration: underline overline 5px;
    text-underline-offset: 10px;
}

.sponsor-item .silver {
    color: #C0C0C0;
    width: 100%;
    height: 300px;
    padding: 20px 20px 0 0;
    text-shadow: 2px 2px black;
    text-decoration: underline overline 5px;
    text-underline-offset: 10px;
}

.sponsor-item .bronze {
    color: #A97142;
    width: 100%;
    height: 300px;
    padding: 20px 20px 0 0;
    text-shadow: 2px 2px black;
    text-decoration: underline overline 5px;
    text-underline-offset: 10px;
}

.s_website_content_text_area .sponsor-item {
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: 5px solid (--bg-black-50);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.30);
    width: 90%;
    height: 500px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
}

.s_flex_container{
    display: flex;
    background-color: #b5b5b5;
    justify-content: center;
}

.s_flex_container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 130px;
    font-size: 30px;
    flex: 25%;
    background-image: url("/images/testimage.png");

    flex-basis: 25%;
    margin:10px;
    background-image: url("../../SolarSite/images/testimage.png");

    background-size: cover;
    background-position: center center;

  }

.blog_container{
    font-size: 1rem;
    position: relative;

}
.blog_text{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c2c2c2;
    left:0;
}
  
  /* About us Page */

  .a_banner_area{
    background-image: url("https://i.ibb.co/RYvmh0n/team.webp");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.a_banner_area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(42, 77, 20, 0.65);
    z-index: 2;
    pointer-events: none;
}

.a_banner_text{
    padding-top: 60px;
    position: relative;
    z-index: 3;
}

/* #TODO Fix translucent layer  */

/* .a_banner_area:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    z-index: -1;
} */

.a_banner_area h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 12%;
    font-size:165px;
    color: #fbc62c;
    /* text-decoration: underline overline 30px;
    text-decoration-color: #015e37 ;
    text-underline-offset: 60px; */
}

.a_banner_area h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    font-size:40px;
    color: #fbc62c;
}

.a_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    background-color: #fbc62c;
    border: none;
    color: #015e37;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.a_website_content_area{
    width: 100%;
    height: 350px;
    top: 100vh;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #015e37;
    background-size: 56px 56px;
    /* background-image:
    linear-gradient(
        135deg,
        transparent 55%,
        #06794c 55%
    ),
     radial-gradient(
        transparent 6px,
        #015e37 6px,
        #015e37 10px,
        transparent 10px,
        transparent 15px,
        #015e37 15px,
        #015e37 19px,
        transparent 19px,
        transparent 24px,
        #015e37 24px,
        #015e37 28px,
        transparent 28px
    ); */
}

.a_website_content_text_area{
    width: 100%;
    height: 3650px;
    top: 5vh;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    background-size: 56px 56px;
}

.a_website_content_area h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    margin: 0;
    padding-top: 50px;
    color:#fbc62c;
}

.a_website_content_area p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    margin: 0 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.a_website_content_area .team h1{
    font-size: 100px;
    font-weight: 700;
    color: #23395b;
    padding-top: 30px;
    
}

.a_website_content_area .general{
    padding-top: 50px;
    width: 100%;
    height: 500px;
}

.a_website_content_area .member {
    display: flex;
    justify-content: center;
    object-fit: cover;
    position: relative;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
}

.a_website_content_area .member-item {
    text-align: center;
    background-color: #faf9f6;
    padding-top: 25px;
    border: 5px solid (--bg-black-50);
    border-radius: 8%;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.30);
    width: 25%;
    position: relative;
    display: inline-block;
    margin: 0 20px 30px 20px;
}

/* will use this for sponsorship page images*/
.a_website_content_area .member-item img { 
    width: 350px; 
    height: 350px;
    display: inline-block;
    margin: 0 0;
    border-radius: 10%;
    padding-top: 20px;
}

.a_website_content_area .member-item h1 {
    padding-top: 25px;
    font-size: 30px;
    color: #23395b;
    font-weight: 700;
}

.a_website_content_area .member-item p {
    padding-top: 10px;
    font-size: 18px;
    color: #406e8e;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
}

.a_website_content_area .member-item .icon1 {
    color: #23395b;
    font-size: 35px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(240px, 25px);
  }
  
  .a_website_content_area .member-item .icon1:hover {
    color: #406e8e;
    transition: 0.5s;
  }

  .a_website_content_area .member-item .icon2 {
    color: #23395b;
    font-size: 37px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(285px, 25px);
  }

  .a_website_content_area .member-item .icon2:hover {
    color: #406e8e;
    transition: 0.5s;
  }

  /* FOR TEAM CAPTAIN */

  .a_website_content_area .team .group_title {
    font-size: 50px;
    padding: 50px 0 50px 0;
  }

  .a_website_content_area .captain-item {
    text-align: center;
    background-color: #faf9f6;
    padding-top: 25px;
    border: 5px solid (--bg-black-50);
    border-radius: 8%;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.30);
    width: 25%;
    position: relative;
    display: inline-block;
    margin: 0 20px 30px 20px;
}

  .a_website_content_area .captain img { 
    width: 350px; 
    height: 350px;
    display: inline-block;
    margin: 0 0;
    border-radius: 10%;
    padding-top: 20px;
}

.a_website_content_area .captain-item h1 {
    padding-top: 25px;
    font-size: 30px;
    color: #23395b;
    font-weight: 700;
}

.a_website_content_area .captain-item p {
    padding-top: 10px;
    font-size: 18px;
    color: #406e8e;
    font-weight: 400;
    white-space: nowrap;
    margin: 0 auto;
}

.a_website_content_area .captain-item .icon1 {
    color: #23395b;
    font-size: 35px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(240px, 25px);
  }
  
  .a_website_content_area .captain-item .icon1:hover {
    color: #406e8e;
    transition: 0.5s;
  }

  .a_website_content_area .captain-item .icon2 {
    color: #23395b;
    font-size: 37px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(285px, 25px);
  }

  .a_website_content_area .captain-item .icon2:hover {
    color: #406e8e;
    transition: 0.5s;
  }
  

.team-header{
    width: 75%;
    height: 4px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #23395b;
}

.header{
    width: 100%;
    height: 10px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    background-color: #fbc62c;
}

.a_flex_container{
    display: flex;
    background-color: #b5b5b5;
    justify-content: center;
}

.a_flex_container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 130px;
    font-size: 30px;
    flex: 25%;
    background-image: url("/images/testimage.png");
    background-size: cover;
    background-position: center center;

  }

  /* Footer */
  

  /* #TODO:
  Top left: Test -> Home
  Nav bar: Join us/Recruit
    -About
    -Contact
    -Mission Statement
    -Sponsors/Partners
    -Blog(?)
    -Footer for all pages which includes logo, contact, socials and newsletter/blog sign up (?)

    LAUNCHES SEPTEMBER
  
  */

  /* About us Page */

  .j_banner_area{
    background-image: url("/images/Team-Photo.png");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 100vh;
    position: absolute;
    width: 60%;
    z-index: 1;
}

.j_banner_area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 238, 144, 0.3);
    z-index: 2;
    pointer-events: none;
}

.j_banner_text .position{
    padding-top: 25vh;
    position: relative;
    left: 100%;
    z-index: 3;
}

.j_banner_text .learn{
    padding: 0;
    position: relative;
    left: 90%;
    z-index: 3;
}

.j_banner_text .join_para{
    padding: 0;
    padding-top: 20px;
    position: relative;
    text-align: right;
    margin-right: 280px;
    margin-left: 150px;
    left: 90%;
    z-index: 3;
}

/* #TODO Fix translucent layer  */

/* .a_banner_area:after{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    z-index: -1;
} */

.j_banner_area h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 12%;
    font-size:20px;
    color: #23395b;
    
    /* text-decoration: underline overline 30px;
    text-decoration-color: #015e37 ;
    text-underline-offset: 60px; */
}

.j_banner_area h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    font-size:70px;
    color: #23395b;
}

.j_banner_area p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    font-size:20px;
    color: #23395b;
}


.j_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    background-color: #fbc62c;
    border: none;
    color: #23395b;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    left: 86vw;
    top: 10px;
}

.j_website_content_area{
    width: 100%;
    height: 2500px;
    top: 100vh;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #06794c;
    background-size: 56px 56px;
    /* background-image:
    linear-gradient(
        135deg,
        transparent 55%,
        #06794c 55%
    ),
     radial-gradient(
        transparent 6px,
        #015e37 6px,
        #015e37 10px,
        transparent 10px,
        transparent 15px,
        #015e37 15px,
        #015e37 19px,
        transparent 19px,
        transparent 24px,
        #015e37 24px,
        #015e37 28px,
        transparent 28px
    ); */
}

.j_website_content_text_area{
    width: 100%;
    height: 5000px;
    top: 5vh;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    background-size: 56px 56px;
}

 .j_website_content_area h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color:#fbc62c;
}

.j_website_content_area p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    margin: 0 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

  /* FOR TEAM CAPTAIN */

  .j_website_content_area .team .group_title {
    font-size: 50px;
    padding: 50px 0 0 0;
  }

  .j_website_content_area .captain-item {
    text-align: center;
    background-color: #faf9f6;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid (--bg-black-50);
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.30);
    height: 40vh;
    width: 70vh;
    position: relative;
    display: inline-block;
    margin: 0 20px 30px 20px;
    text-align: left;
}

  .j_website_content_area .captain img { 
    width: 350px; 
    height: 350px;
    display: inline-block;
    margin: 0 0;
    border-radius: 10%;
    padding-top: 20px;
}

.j_website_content_area .captain-item h1 {
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 30px;
    color: #23395b;
    font-weight: 700;
    margin: 0 0 0 50px;
}

.j_website_content_area .captain-item p {
    font-size: 18px;
    color: #406e8e;
    font-weight: 400;
    margin: 0 50px;
    padding-bottom: 20px;
}

.j_website_content_area .captain-item .icon1 {
    color: #23395b;
    font-size: 35px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(240px, 25px);
  }
  
  .j_website_content_area .captain-item .icon1:hover {
    color: #406e8e;
    transition: 0.5s;
  }

  .j_website_content_area .captain-item .icon2 {
    color: #23395b;
    font-size: 37px;
    text-decoration: none;
    margin: 10px;
    position: absolute;
    transform: translate(285px, 25px);
  }

  .j_website_content_area .captain-item .icon2:hover {
    color: #406e8e;
    transition: 0.5s;
  }
  

.team-header{
    width: 75%;
    height: 4px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #23395b;
}

.header{
    width: 100%;
    height: 10px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    background-color: #fbc62c;
}

.a_flex_container{
    display: flex;
    background-color: #b5b5b5;
    justify-content: center;
}

.a_flex_container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 130px;
    font-size: 30px;
    flex: 25%;
    background-image: url("/images/testimage.png");
    background-size: cover;
    background-position: center center;

  }



  @media only screen and (max-width: 600px) { /*For (really) small devices ex. phones*/

    .a_banner_area {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .a_website_content_area{
        width: 100vw;
        height: 3000px;
        position: relative;
        top: 600px;
    }

    .a_website_content_area .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
        position: relative;
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 50px;
    }

    .a_website_content_area .member img { 
        width: 100%; 
        height: auto;
        display: block;
        flex-direction: column;
        margin: 0 0;
        border-radius: 10%;
        padding-top: 20px;
    }

    .a_website_content_area .member-item {
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #faf9f6;
        border: 5px solid (--bg-black-50);
        border-radius: 8%;
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.30);
        width: 25%;
        position: relative;
        padding: 20px 10px 10px 10px;
        margin: 0 20px 30px 20px;
    }

    /* will use this for sponsorship page images*/
    .a_website_content_area .member-item img { 
        width: 100%; 
        height: auto;
        display: inline-block;
        margin: 0 0;
        border-radius: 10%;
    }

    .a_website_content_area .member-item h1 {
        padding-top: 25px;
        font-size: 30px;
        color: #23395b;
        font-weight: 700;
        text-align: center;
    }

    .a_website_content_area .member-item p {
        padding-top: 10px;
        font-size: 18px;
        color: #406e8e;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
    }

    .a_website_content_area .member-item .icon1 {
        display: flex;
        flex-direction: column;
        color: #23395b;
        font-size: 10px;
        text-decoration: none;
        margin: 10px;
        position: absolute;
        transform: translate(100px, 15px);
    }
    
    .a_website_content_area .member-item .icon1:hover {
        color: #406e8e;
        transition: 0.5s;
    }

    .a_website_content_area .member-item .icon2 {
        color: #23395b;
        font-size: 9px;
        text-decoration: none;
        margin: 10px;
        position: absolute;
        transform: translate(110px, 15px);
    }
    
    .a_website_content_area .member-item .icon2:hover {
        color: #406e8e;
        transition: 0.5s;
    }
        
    }

@media only screen and (min-width: 600px) { /* for small devices, ex. portrait tablets, big phones*/
    .about_us_text > p{
        font-size: 0.75rem;
    }
    .about_us_container{
        height: 100vh;
    }
    .sponsor_container{
        height: 32vh;
    }
    .topbanner{
        visibility: hidden;
    }
    nav {
        visibility: collapse;
    }
    .blog_selector{
        flex-direction: column;
        height: 100vh;
    }
    .mob_menu{
        visibility: visible;
    }
    .join_us_container {
        height: 25vh;
    }
    .footer{
        top:60vh;
        display: block;
        width: 100%;
    }
    .blog_title > h5{
        margin-top: 2vh;
        font-size: 1.5em;
        text-align: center;
        color: #F5BB00;
        font-weight: 75;
        font-family: Arial, Helvetica, sans-serif
    }
    .website_content_area{
        width: 100%;
        height: 2600px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .why_join_container{
        height: 60vh;
    }
    .subteam_1_container{
        height: 60vh;
    }
    .subteam_2_container{
        height: 60vh;
    }
    .subteam_3_container{
        height: 60vh;
    }
}
@media only screen and (min-width: 992px) { /*For large devices ex. computers*/
    .about_us_text > p{
        font-size: 1rem;
    }
    .about_us_container{
        height: 50vh;
    }
    .sponsor_container{
        height: 35vh;
    }
    .topbanner{
        visibility: visible;
    }
    nav {
        visibility: visible;
    }
    .blog_selector{
        flex-direction: row;
        height: 35vh;
    }
    .blog_title > h5{
        font-size: 0.5em;
    }

    .mob_menu{
        visibility: hidden;
    }
    .join_us_container{
        height: 80vh;
    }
    .footer{
        top:55vh;
        width: 100%;
        display:block;
    }
    .blog_title > h5{
        font-size: 2em;
    }
    .website_content_area{
        width: 100%;
        height: 2100px;
        position: relative;
        background: #fff;
        top: 600px;
    }
    .why_join_container{
        height: 50vh;
    }
    .subteam_1_container{
        height: 55vh;
    }
    .subteam_2_container{
        height: 35vh;
    }
    .subteam_3_container{
        height: 30vh;
    }

}





@media only screen and (max-width: 600px) { 

    
    .topbanner{
        visibility: visible;
    }
    nav {
        visibility: hidden;
    }
    .blog_selector{
        flex-direction: column;
    }

}
@media only screen and (min-width: 600px) { 
    .topbanner{
        visibility: visible;
    }
    nav {
        visibility: hidden;
    }
    .blog_selector{
        flex-direction: column;
    }
}
@media only screen and (min-width: 992px) { 

    
    .topbanner{
        visibility: visible;
    }
    nav {
        visibility: visible;
    }
    .blog_selector{
        flex-direction: row;
    }

}